.line
  %h2 New Project
= simple_form_for [:admin, @project] do |f|
  = f.input :name, :label => "Name: "
  %br/
  .line
    .submit-button= f.submit
  
.green-rounded= link_to "View all projects", admin_projects_url