.grid_12
  %h2.page_title_w_margin All Users

  %table
    %thead
      %tr
        %th Name
        %th Email
        %th
    - @users.each_with_index do |user, index|
      - if index % 2 == 0
        - tr_class = ""
      -else
        - tr_class = "white"
      %tr{:class => tr_class}
        %td.title-1col= user.full_name
        %td.halfcol= user.email
        %td
          .small-green-button= link_to "Edit", edit_admin_user_url(user)

          .small-green-button= link_to "Delete", admin_user_url(user), :method => :delete

.clear