.line-nomargin
  %h2 All Users

%table.green-big
  - @users.each_with_index do |user, index|
    - if index % 2 == 0
      - tr_class = ""
    -else
      - tr_class = "white"
    %tr{:class => tr_class}
      %td.title-1col= user.full_name
      %td.halfcol= user.email
      %td        
        = link_to "Edit", edit_admin_user_url(user)
        |
        = link_to "Delete", admin_user_url(user), :method => :delete